<h1><%= @show.name %></h1>
Created by: <%= @show.creator.name %> on <%= @show.date_readable(@show.created_at) %> || Last Edited by: <%= @show.editor.name %> on <%= @show.date_readable(@show.updated_at) %>
<hr>
<strong><%= @show.network %> Network | <%= currently_airing? %></strong><br><br>

<strong>Start Date:</strong> <%= @show.date_readable(@show.start_date) %><br>
<% if !@show.currently_airing %>
    <strong>End Date:</strong> <%= @show.date_readable(@show.end_date) %><br>
<% end %>
<h3>Synopsis:</h3>
<p><%= @show.synopsis %></p>

<h4><%= link_to "See #{@show.name}'s  actors", tv_show_actors_path(@show) %></h4>
<h4><%= link_to "See #{@show.name}'s characters", tv_show_characters_path(@show) %></h4>
<h4><%= link_to "Create a new character for #{@show.name}", new_tv_show_character_path(@show) %></h4>

<h3>Reviews:</h3>
<ul><% @show.reviews.each do |review| %>
    <li><%= review.body %> - <%= review.user.name %> <%= display_edit_review(review) %></li><br>
<% end %></ul>

<h4><%= link_to "Leave a Review", new_tv_show_review_path(@show) %></h4>

<%= link_to "Edit Show", edit_tv_show_path(@show) %><br><br>

<%= display_delete(@show) %>