<h1><%= @show.name %></h1>
<hr>
<strong><%= @show.network %> Network | <%= currently_airing?(@show) %></strong>
<br>
<br>
<strong>Start Date:</strong> <%= @show.sdate_readable %><br>
<% if !@show.currently_airing %>
    <strong>End Date:</strong> <%= @show.edate_readable %><br>
<% end %>
<h3>Synopsis:</h3>
<p><%= @show.synopsis %></p>
<h3>Characters:</h3>
<ul><% @show.characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %></li>
<% end %></ul>