<h1><%= @character.name %></h1>
<hr>
<strong>Played by:</strong> <%= link_to @character.actor.name, actor_path(@character.actor) %></h3>
<br>
<strong>On Show:</strong> <%= link_to @character.tv_show.name, tv_show_path(@character.tv_show) %>
<h3>Bio:</h3>
<p><%= @character.bio %></p>
<br>
<br>
<%= button_to "Edit Character", edit_character_path(@character), :method => :get %>